<div id="<%= dom_id user %>">
  <p class="my-5">
  <strong class="block font-medium mb-1"><%= User.human_attribute_name(:nickname) %></strong>
  <%= user.nickname %>
  </p>
  <p class="my-5">
  <strong class="block font-medium mb-1"><%= User.human_attribute_name(:body) %></strong>
  <%= user.body %>
  </p>
</div>
