<div class="mx-auto md:w-2/3 w-full h-full ">
  <h1 class="mx-auto md:w-auto mt-8 w-hull font-bold ">ユーザー情報</h1>
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @user %>

    <%= link_to 'ユーザー情報編集', edit_user_path(@user), class: "btn btn-success" %>
    <div class="inline-block ml-2">
      <%= button_to 'ユーザー削除', user_path(@user), method: :delete, class: "btn btn-error" %>
    </div>
    <%= link_to 'イベント作成', new_event_path, class: "btn btn-success" %>
  </div>
<%
=begin
%>
  <% @join_events each do |event| %>
    <%= event.title %>
    <%= event.title %>
  <% end %>
<%
=end
%>
</div>
