<div class="card card-compact bg-base-100">
  <div id="<%= dom_id event %>">
    <% if event.events_image? %>
      <!-- <figure><%# image_tag event.events_image.url %></figure> -->
      <figure><%= image_tag '400x300.png'%></figure>
    <% end %>
    <div class="card-body">
      <%= tag.h2 class: 'card-title' do %>
        <%= link_to event.title, event_path(event), class:'link' %>
      <% end %>
      <ul class="list-inline">
        <li class="list-inline-item">
          <p class="font-mono">開催日時</p>
          <%= l event.date, format: :long %>
        </li>
        <li class="list-inline-item">
          <p class="font-mono">開催場所</p>
          <%= tag.p event.place.address %>
        </li>
         <li class="list-inline-item">
          <p class="font-mono">主催者</p>
           <%#= 本当は tag.p event.user.nickname %>
          <%= tag.p event.user.first_name %>
        </li>
         <li class="list-inline-item">
          <p class="font-mono">イベント詳細</p>
          <%= tag.p event.body %>
        </li>
      </ul>
    </div>
  </div>
</div>