<div class="card card-compact bg-base-100">
  <div id="<%= dom_id event %>">
    <% if event.events_image? %>
      <!-- <figure><%# image_tag event.events_image.url %></figure> -->
      <figure><%= image_tag '400x300.png'%></figure>
    <% else %>
      <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg relative mb-6 md:mb-8">
      <img src="https://images.unsplash.com/photo-1593508512255-86ab42a8e620?auto=format&q=75&fit=crop&w=600&h=350" loading="lazy" alt="Photo by Minh Pham" class="w-full h-full object-cover object-center" />
    <% end %>
  </div>
    <div class="bg-white py-6 sm:py-8 lg:py-12">
      <div class="max-w-screen-md px-4 md:px-8 mx-auto">
        <%=link_to event_path(event) do %>
          <h1 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6">
            <%= event.title %>
          </h1>
        <% end %>
  
    <!-- 開催日時 -->
    <div class="bg-white py-6">
    <div class="max-w-screen-2xl px-4 mx-auto">
      <!-- feature - start -->
      <div class="flex pb-5 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
          </svg>
        </div>
        <div>
          <p class="text-gray-500">開催日時</p>
          <h3 class="text-lg font-semibold"><%= l event.date, format: :long %></h3>
        </div>
      </div>

      <!-- 活動場所 -->
      <div class="flex pb-5 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
          </svg>
        </div>
        <div>
        <p class="text-gray-500">活動場所</p>
        <h3 class="text-lg font-semibold"><%= event.place.place_name %></h3>
        <p class="text-gray-500"><%= event.decorate.full_address %></p>
        </div>
      </div>

      <!-- 主催者 -->
      <div class="flex pb-5 md:gap-6">
        <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center">
          <div class="w-20 md:w-30 h-20 sm:h-14 bg-gray-100 rounded-full overflow-hidden">
          <img src="https://images.unsplash.com/photo-1567515004624-219c11d31f2e??auto=format&q=75&fit=crop&w=256" loading="lazy" alt="Photo by Radu Florin" class="w-full h-full object-cover object-center" />
          </div>
        </div>
        <div>
          <p class="text-gray-500">主催者</p>
          <h3 class="text-lg font-semibold"><%= event.user.nickname %></h3>
        </div>
      </div>

    <!-- 募集人数 -->
    <div class="flex pb-5 md:gap-6">
      <div class="w-12 md:w-14 h-12 md:h-14 flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>
      </div>
      <div>
        <p class="text-gray-500">募集人数</p>
        <h3 class="text-lg font-semibold"><%= "#{event.member} 人" %></h3>
        <%= link_to("全員見る", { anchor: "joined_users" }, class: "text-gray-500") %>
      </div>
    </div>
  </div>
</div>
    
        <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">イベント概要</h2>
        <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
          <%= event.body %>
        </p>
            
        <h2 id="joined_users" class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">参加者一覧</h2>
        <% if @joined_users.present? %>
          <%= render partial: 'joined_user', collection: @joined_users %>
        <% end %>
      </div>
    </div>
  </div>
</div>