<div class="card card-compact w-96 bg-base-100 shadow-xl">
  <div id="event-id-<%= event.id %>">
    <figure><%= image_tag event.events_image.url %></figure>
    <div class="card-body">
      <h2 class="card-title"><%= link_to event.title, event_path(event) %></h2>

      <%# if current_user.own?(event) %>
        <%#= render 'crud_menus', event: event %>
      <%# else %>
        <%#= render 'favorite', event: event %>
      <%# end %>

      <ul class="list-inline">
        <li class="list-inline-item">
          <%= icon 'far', 'user' %>
          <%= event.user.name %>
        </li>
        <li class="list-inline-item">
          <%= icon 'far', 'calendar' %>
          <%= l event.created_at, format: :long %>
        </li>
      </ul>

      <p><%= event.body %></p>
    </div>
  </div>
</div>