<div class="w-full">
  <div class="text-center py-10 px-4 sm:px-6 lg:px-8">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">イベント一覧</h1>
      <%= link_to 'New event', new_event_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>

    <%= search_form_for @q, url: events_path do |f| %>
      <div class="flex justify-center">
        <div class="flex pt-5">
          <div>
            <%= f.search_field :title_or_body_cont, class: 'input input-bordered w-full max-w-xs', placeholder: '検索ワード' %>
          </div>
          <div class="col-auto pb-10 pl-5 inline-block">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
    
    <div id="events" class="min-w-full">
      <%= render @events %>
    </div>
  </div>
</div>
