<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render partial: 'event_detail', locals: { event: @event } %>
  </div>
  <div>
    <% if @event.user_id == current_user.id %>
      <%= link_to '編集', edit_event_path(@event), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= button_to '削除', event_path(@event), method: :delete, form: { data: { turbo_confirm: "削除しますか？" } }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <% else %>
      <% if current_user.joined?(@event) %>
          <%= button_to "参加をキャンセルする", event_join_events_path(@event), method: :delete, form: { data: { turbo_confirm: "イベントの参加をキャンセルしますか？" } } %>
      <% else %>
          <%= button_to "参加を申し込む", event_join_events_path(@event), method: :post, form: { data: { turbo_confirm: "イベントに参加しますか？" } } %>
      <% end %>
    <% end %>
  </div>
</div>