<div id="<%= dom_id place %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Place name:</strong>
    <%= place.place_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= place.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= place.latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= place.longitude %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this place", place, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this place', edit_place_path(place), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
